<div class="container">
    <div class="menu">
        <h2>Menu</h2>
        <ul>
            <li><span class="name">Wszystkie</span></li>
            <li *ngFor="let kategorie of katFilter()"><span class="name">{{kategorie.name}}</span><span class="count">{{countFiles(kategorie.catid)}}</span></li>
        </ul>
    </div>
    <div class="content">
        <h2>Lista wysłanych elementów</h2>
        <div class="search">
            <input type="text" placeholder="Wyszukaj element..." [(ngModel)]="filename">
        </div>
        <ul class="uploaded-items">
            <li *ngFor="let file of filesFilter()">
                <div class="flex">
                    <span class="stoproc">{{file.filename}}</span>
                    <span>{{formatDate(file.timestamp)}}</span>
                    <span>{{file.sizeMb}} Mb</span>
                    <a class="button" href="https://doha.wsi.edu.pl:10005/download?id={{file.id}}&wdauth={{wdApi.wdauth}}">Pobierz</a>
                </div>
            </li>
           
        </ul>
    </div>
</div>