<div class="container">
    <div class="menu">
        <h2>Menu</h2>
        <ul>
            <li><span class="name">Wszystkie</span></li>
            <li *ngFor="let kategorie of katFilter()"><span class="name">{{kategorie.name}}</span><span class="count">{{countFiles(kategorie.catid)}}</span></li>
        </ul>
    </div>
    <div class="content">
        <h2>Lista wysłanych elementów</h2>
        <div class="search">
            <input type="text" placeholder="Wyszukaj element...">
            <button>Szukaj</button>
        </div>
        <ul class="uploaded-items">
            <li *ngFor="let file of files">
                <span>{{file.filename}}</span>
                <button>Pobierz</button>
            </li>
           
        </ul>
    </div>
</div>